$color-primary:#004A8F;
$color-secondary:#0095DA;
$color-white:#ffffff;
$color-black:#000000;
$color-danger:#ef4444;
$color-success:#0e9f6e;
$color-green:#0d8a5e;

$bg-primary:#004A8F;
$bg-secondary:#0095DA;
$bg-white:#ffffff;
$bg-black:#000000;
$bg-danger:#ef4444;
$bg-success:#0e9f6e;
$bg-green:#0d8a5e;

$border-primary:#004A8F;
$border-secondary:#0095DA;
$border-black:#000000;
$border-danger:#ef4444;
$border-success:#0e9f6e;
$border-green:#0d8a5e;
