$primary-color:#004A8F;
$secondary-color:#0095DA;
$white:#ffffff;
$black:#000000;

$bg-primary:#004A8F;
$bg-secondary:#0095DA;
$bg-white:#ffffff;
$bg-black:#000000;

$border-primary:#004A8F;
$border-secondary:#0095DA;
$border-black:#000000;
