@import "../abstracts/variables";
@import "../abstracts/mixins";

.sidebar {
  width: 260px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: $bg-white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &.open {
    transform: translateX(0);
  }

  &.closed {
    transform: translateX(-100%);
  }

  @media (max-width: 768px) {
    &.closed {
      transform: translateX(-100%);
    }
  }

  &_logo {
    @include flex-center;
    gap: 12px;
    padding:6px 20px;
    border-bottom: 1px solid #e5e7eb;
  &_img{
    height:100%;
  }
  }

  &_nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    padding:10px 24px;

    .nav_item {
      display: flex;
      align-items: center;
      gap: 12px;
      text-decoration: none;
      padding: 12px 16px;
      border-radius: 8px;
      transition: all 0.2s ease;
      font-size: 15px;
      font-weight: 500;
      color:$color-black;


      &:hover {
        background: rgba(7, 7, 7, 0.09);
        color:$color-black;
      }

      &.active {
        background:$bg-secondary;
        color: $color-white;
      }
    }
  }

  &_logout {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 12px 16px;
    background: $bg-secondary;
    color: $color-white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: auto;

    &:hover {
      background: $bg-primary;
      transform: translateY(-1px);
    }
  }
}
